@{
    ViewBag.Title = "Index";
}
<h2>Reports</h2>
<div>
    @Html.ActionLink("Primary Dispatcher Report", "Index", "PrimaryIncidentDispatcherReport")
</div>
<div>
    @Html.ActionLink("Primary Evaluator Report", "Index", "PrimaryIncidentEvaluatorReport")
</div>
<div>
    @Html.ActionLink("Secondary Dispatcher Report", "Index", "SecondaryIncidentDispatcherReport")
</div>
<div>
    @Html.ActionLink("Secondary Evaluator Report", "Index", "SecondaryIncidentEvaluatorReport")
</div>
